@model Libmpc.MpdDirectoryListing

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <title>Home MPC</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resources/css/ext-all.css")">
    <script type="text/javascript" src="~/extjs/ext-all-debug.js"></script>
    <script type="text/javascript" src="~/Resources/app.js"></script>
  </head>
  <body>
    <div>

    </div>
  </body>
</html>